africastalking==1.2.5
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
contextlib2==21.6.0
idna==3.4
numpy==1.25.2
pandas==2.0.3
phonenumbers==8.13.18
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
schema==0.7.5
six==1.16.0
tzdata==2023.3
urllib3==2.0.4
